/*-----------Bg images-------------*/
$header_bg: url('../img/header_bg.png');
$play_icon_img: url('../img/play-button.svg');
$header_menu_image: url('../img/menu.png');
$testimonials_bg_image: url('../img/testimonials_bg.png');
$trial_section_image: url('../img/testimonials_bg.png');

/*-----------Font colors-----------*/
$header_title_color: #282828;
$header_subtitle_color: #7f74d1;
$followers_count_color: #3392ca;
$slide_controls_color: #bebebe;

/*------------Bg colors-----------*/
$header_bg_color: #d1d5d4;    
$header_link_bg_color: #3392ca;
$header_link_bg_hover_color: #287eb1;
$body_bg_color: #f8f8f8;
$followers_line_bg: #ececec;



